<mat-toolbar style="background-color: #00202e;">
    <mat-toolbar-row style="padding: 0 2%">
        <a routerLink="/dashboard" style="color: white;">K.E.R.N.A.S</a>
        <span style="flex:auto;"></span>
        <button mat-button [matMenuTriggerFor]="appMenu" id="btnPhoto" style="height: 50px; width: 50px; outline: none;"
            *ngIf="this.userService.user.avatarURL != null">
            <img class="userLoggedin" [src]="this.userService.user.avatarURL" alt="" />
        </button>

        <button mat-button [matMenuTriggerFor]="appMenu" id="btnPhoto" style="height: 50px; width: 50px; outline: none;"
            *ngIf="this.userService.user.avatarURL == null">
            <img class="userLoggedin" src=".././assets/avatarDefault.png" alt="" />
        </button>
        <mat-menu #appMenu="matMenu">
            <div style="padding: 10px 20px">
                <div style="margin-top: 5%;">
                    <p style="text-align:center;"><b>{{ userService.user.name }}</b></p>
                    <p style="text-align:center; word-wrap: break-word;">
                        {{ userService.user.email }}</p>
                </div>
                <button (click)="clickadduser()" mat-menu-item style="text-align: center;">Add User</button>
                <button mat-menu-item style="text-align: center;" (click) = "userService.signOut()">Logout</button>
            </div>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>