<app-side-nav>
</app-side-nav>
<div style="width: 70vw; margin: 0 auto;">
    <div class="button-new-item">
        <div>
            <input (keydown.enter) = "search($event)" type="text" (focusout) = "cancel()" placeholder="Search with name" style="width: 45vw; height: 3vh; ">
        </div>
       
        <button (click)="openDialog()" style="background-color: #fdd03b;" mat-stroked-button>
            <mat-icon fontSet="material-icons-outlined">
                add_to_photos
            </mat-icon>
            New Watch
        </button>
    </div>
    <div style="margin-top: 30px;">
        <div class="cardlist">
            <div class="cardlist-header">
                <h1 style="margin: 10px">List Product</h1>
            </div>
            <app-listitem style="margin-top: 20px;"></app-listitem>
        </div>
    </div>
</div>