.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

#div-mat-list{
    //border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    width: 70vw;
    margin: 0 auto;
}

.content-list-item
{
  margin-right: 30px;
}
.content-list-item-unit
{
  margin-right: 5px;
}